<p id="notice"><%= notice %></p>


<div class="container">

  <% @songs.each do |song| %>
   
      <a><%= link_to image_tag(song.image, class: "song-image"), song %></a>
     
     
  <% end %>
</div>

    
  

<%= link_to 'New Song', new_song_path %>


