/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  background-image:
}

#container {
    height:400px;
    width:400px;
    position:relative;
}

#image {    
    position:absolute;
    left:0;
    top:0;
}

#text {
    z-index:100;
    position:absolute;    
    color:white;
    font-size:24px;
    font-weight:bold;
    left:150px;
    top:350px;
}

/* ADDED BY GERRY*/

ul#menu{
  position: absolute;
  z-index: 10000;
  width: 1000px;
  text-align: center;
  list-style: none;
  color: white;
  font-size: 19px;
  top: 335px;
  background-color: gray;
  opacity: 0.7;
}

ul#menu li{
  float: left;
  width: 20%;
}

table {
  width: 100%;
}