// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.song-image{
  width: 245px;
  height: 393px;
}
.image {
  width: 225;
  height: 293;
}


// .table{
//   background-color: black;
// }

.image-show img {
  border-radius: 500px;
}

.image-show-center { 
  text-align: center;
}
table {
  background-color: gray;
}